#content a:link{
    color: #3258ff;
    text-decoration: solid;
}
#content a:visited{
    color: #3258ff;
    text-decoration: solid;
}
a:visited{
    color: #fff;
    text-decoration: none;
}
a:link{
    color: #fff;
    text-decoration: none;
}
.navc:hover{
    background: rgb(139, 26, 26);
}
.nav:hover{
    background: #1b1b1b;
}
.bluebutton:hover{
    border-top: 1px rgb(37, 99, 233) solid;
    background: rgb(0,88,164);
    background: linear-gradient(0deg, rgba(0,88,164,1) 100%, rgba(104,184,255,1) 0%); 
}