@keyframes background{
    0% {background-color:  #ffeaff;}
    20% {background-color: #ebdaff;}
    40% {background-color: #c4beff;}
    60% {background-color: #a4cff1;}
    80% {background-color: #a7f0f0;}
    100% {background-color: #abf0e3;}
}
