body{
    background-color: #000;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}
p{
    display: inline;
}
#d3{
    animation-name: dot;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1s;
}
#d2{
    animation-name: dot;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0.5s;
}
#d1{
    animation-name: dot;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes dot{
    0% {color:  #fff;}
    100% {color: #000;}
}
