html, body{
    color: #fff;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 100;
    font-size: 16px;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
    animation-name: background;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#container{
    width: 100%;
    height: 100%;
}
#content{
    background-color: rgba(0, 0, 0, 0.212);
    width: 400px;
    margin: auto;
    border-radius: 50px;
    padding-bottom: 1px;
}
#top{
    width: auto;
    padding-top: 15px;
    padding-bottom: 40px;
    font-size: 16px;
    border-bottom: #7c7c7c27 solid 1px;
}
#sekcja{
    margin-top: 20px;
    font-size: 30px;
}
#sekcjanowa{
    margin-top: 20px;
    margin-bottom: 40px;
    border-top: #7c7c7c27 solid 1px;
    padding: 20px;
    text-align: left;
}
h1{
    font-weight: 100;
    font-size: 48px;
    margin-bottom: 10px;
}
a:visited{
    color: #fff;
}