@keyframes background{
    0% {background-color:  #1f2829;}
    20% {background-color: #1f2329;}
    40% {background-color: #201f29;}
    60% {background-color: #251f29;}
    80% {background-color: #291f28;}
    100% {background-color: #291f23;}
}